<app-inicio></app-inicio>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Tutorial</title>
    
    
</head>
<body>
    <div class="container Tutorial">
    <button routerLink="/matricula" class="btn btn-outline-dark back-button"><i
        class="bi bi-box-arrow-left"></i></button>

    <div class="video-container">
        <!-- Inserta aquí el enlace del video de YouTube -->
        <iframe src="https://www.youtube.com/embed/67Sb3M8GQwQ" frameborder="0" allowfullscreen></iframe>
    </div>

    </div>
</body>
</html>

