.card{
    width: 340px;
    height: 250px;
    position: relative;
    left: 40px;
    right: 60px;
}

.btn {
    position: relative;
    left: 88px;
    background: #0D062A; 
}
.btn:hover{
    background: #0d062ac6;
}

