.card{
    position: relative;
    width: 65%;
    height: 350px;
    top: 15%;
    right: -80px;
}

.btn {
    position: relative;
    left: 110px;
    background: #0D062A; 
}
.btn:hover{
    background: #0d062ac6;
}

