

<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="imagen2">
        <img class="avatar2 mat-elevation-z8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLcJqxLd4ax9HQOic9Uv9DFfcvl1_l5CbMrw&usqp=CAU" alt="">
      </a>
      <a class="nombre2">
        <i class="bi bi-list-task"></i><em>Pedro Cardenas Mendez</em>
      </a>
    </div>
  </nav>
  <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
  <div class="s-layout">
      <!-- Sidebar -->
      <div class="s-layout__sidebar">
  
      
      <nav class="s-sidebar__nav">
          <ul>
              <div class="container">
                <a class="imagen">
                  <img class="avatar mat-elevation-z8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoPm_vzM5yE5MBU4VGUB7tNKKd36OU41K1dw&usqp=CAU" alt="">
                </a>
                <a class="estudiante">
                  <i class="bi bi-list-task"></i><em>Estudiante</em>
                </a>
                <a class="nombre">
                  <i class="bi bi-list-task"></i><em>Laura Cardenas Tovar</em>
                </a>
              </div>
              <li>
              <a class="s-sidebar__nav-link" routerLink = "/peticiones">
                  <i class="bi bi-list-task"></i><em>Inicio</em>
              </a>
              </li>
              <li>
              <a class="s-sidebar__nav-link" routerLink = "/formulario">
                  <i class="bi bi-person-circle" ></i><em>Matriculate</em>
              </a>
              </li>
              <li>
              <a class="s-sidebar__nav-link" href="#0">
                  <i class="bi bi-box-arrow-left"></i><em>Aula Virtual</em>
              </a>
              </li>
              <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <i class="bi bi-person-circle"></i><em>Soportes de Pago</em>
                </a>
                </li>
                <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <i class="bi bi-box-arrow-left"></i><em>Información Estiante</em>
                </a>
                </li>
          </ul>
      </nav>
  </div>
  </div>
