<app-inicio-admin></app-inicio-admin>
<div class="container tabla"> 
    <table datatable class="table" >
      <thead>
        <tr style="text-align: center;">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo Instirucional</th>
          <th scope="col">Celular</th>
          <th scope="col">Cargo</th>
          <th scope="col" colspan="2">
            <button class="btn btn-outline-primary bi bi-file-earmark-plus-fill" routerLink="/agre-profesor">  Agregar</button>
          </th> 
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr style="text-align: center;">
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td colspan="2"> 
            <button class="btn btn-outline-primary bi bi-pencil-fill" routerLink="/form-profesor"></button>
            <button class="btn btn-outline-danger bi bi-trash"></button>
          </td>
        </tr>
      </tbody>
    </table>
</div>