<app-inicio></app-inicio>

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <button routerLink="/estudiante" class="btn btn-outline-dark back-button"><i class="bi bi-box-arrow-left"></i></button>
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Gestionar matricula</h2>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre_estu" placeholder="Nombre Estudiante" />
                        </div>
                        <div class="form-group">
                            <label for="tipo matricula"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="tipo matricula" id="tipo matricula" [(ngModel)]="tipo_matricula" placeholder="Tipo Matriucla" />
                        </div>
                        <div class="form-group">
                            <label for="valor"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="valor" id="valor" [(ngModel)]="valor" placeholder="Valor Matriucla" readonly />
                        </div>


                        <div class=" form-button">

                            <input  type="submit" name="signup" id="signup" class="form-submit" style="margin: 40px;" routerLink="/menu"
                                value="Inicio" />
                            
                            <input  type="submit" class="form-submit"
                                value="Generar Recibo" (click)="generarPDF()"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>