<app-inicio></app-inicio>

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Gestionar matricula</h2>
                    <form method="POST" class="register-form" id="register-form">

                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Nombre Estudiante" />
                        </div>
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Tipo Matriucla" />
                        </div>
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="fecha" id="fecha" placeholder="Valor Matriucla" readonly />
                        </div>


                        <div class="form-group form-button">
                            <input  type="submit" name="signup" id="signup" class="form-submit"
                                value="Registrar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>