<app-inicio></app-inicio>

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Registro Acudiente</h2>
                    <form method="POST" class="register-form" id="register-form">
                       
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Nombre" />
                        </div>
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Apellido" />
                        </div>
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Numero Identdicación" />
                        </div>
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Numero identificacion Estudiante" />
                        </div>
                        <div class="form-group">
                            <label for="pet_fecha_registro"><i class="zmdi zmdi-lock"></i></label>
                            <input type="text" name="pet_fecha_registro" id="pet_fecha_registro" placeholder="Fecha Registro" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="pet_fecha_respuesta"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="pet_fecha_respuesta" id="pet_fecha_respuesta" placeholder="Fecha Respuesta" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="tipo_pe_id"><i class="zmdi zmdi-account material-icons-tipo_pe_id"></i></label>
                            <input type="text" name="tipo_pe_id" id="tipo_pe_id" placeholder="Tipo Petición" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="abo_documento"><i class="zmdi zmdi-abo_documento"></i></label>
                            <input type="text" name="abo_documento" id="abo_documento" placeholder="Documento" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="id_clientes"><i class="zmdi zmdi-lock"></i></label>
                            <input type="text" name="id_clientes" id="id_clientes" placeholder="Clientes" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="seg_id"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="seg_id" id="seg_id" placeholder="Seguimiento" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="seg_descripcion"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="seg_descripcion" id="seg_descripcion" placeholder="Descripción Seguimiento"/>
                        </div>
                        <div class="form-group">
                            <label for="pet_prioridad"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="text" name="pet_prioridad" id="pet_prioridad" placeholder="Prioridad" readonly/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Actualizar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </section>
