<app-inicio></app-inicio>

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Registro Acudiente</h2>
                    <form method="POST" class="register-form" id="register-form">
                       
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Nombre" />
                        </div>
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Apellido" />
                        </div>
                        <div class="form-group">
                            <label for="pet_nombre"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="pet_nombre" id="pet_nombre" placeholder="Numero Identdicación" />
                        </div>
                        <div class="form-group">
                            <label for="Parentesco"><i class="zmdi zmdi-pet_descripcion"></i></label>
                            <input type="text" name="Parentesco" id="Parentesco" placeholder="Parentesco" />
                        </div>
                        <div class="form-group">
                            <label for="pet_fecha_registro"><i class="zmdi zmdi-lock"></i></label>
                            <input type="number" name="Celular" id="Celular" placeholder="Numero Celular" />
                        </div>
                        <div class="form-group">
                            <label for="correo"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="email" name="correo" id="correo" placeholder="Correo Electronico" />
                        </div>
                        <div class="form-group">
                            <label for="tipo_pe_id"><i class="zmdi zmdi-account material-icons-tipo_pe_id"></i></label>
                            <input type="text" name="empresa" id="empresa" placeholder="Nombre Empresa" />
                        </div>
                        <div class="form-group">
                            <label for="direccion"><i class="zmdi zmdi-abo_documento"></i></label>
                            <input type="text" name="direccion" id="direccion" placeholder="Direccion Trabajo"/>
                        </div>
                        <div class="form-group">
                            <label for="tipo_pe_id"><i class="zmdi zmdi-account material-icons-tipo_pe_id"></i></label>
                            <input type="text" name="ocupación" id="ocupación" placeholder="Ocupación" />
                        </div>
                        <div class="form-group">
                            <label for="id_clientes"><i class="zmdi zmdi-lock"></i></label>
                            <input type="number" name="telefono" id="telefono" placeholder="Telefono Empresa"/>
                        </div>
                        
                        <div class="form-group form-button">
                            <input routerLink="/estudiante" type="submit" name="signup" id="signup" class="form-submit" value="Registrar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </section>
